<ion-card>

  <ion-item>

    <ion-avatar item-start>
      <div class="photo"></div>
    </ion-avatar>
    
    <div style="width: 100%; height: 40px;" class="single-bar"></div>

  </ion-item>

  <div style="width: 100%; height: 80px" class="staggered-bars">

  </div>

</ion-card>